<h3>採用エントリー</h3>

<h1><%= @information.name %> 様がエントリーしました</h1>
------------------------------------------------
<p>お名前: <%= @information.name %></p>

<p>フリガナ: <%= @information.name_spell %></p>

<p>生年月日: <%= @information.birthdate %></p>

<p>email: <%= @information.email %></p>

<p>志望動機など: <%= @information.motivation %></p>

------------------------------------------------