<%= render "shared/header" %>
<div class='main'>
  <div class='page-title'>
    <h1>採用情報</h1>
  </div>
  <div class='top-content'>
    <div class='title'>
      <h3>私たちの仕事</h3>
    </div>
    <div class='group-info'>
      <ul class='company-lists'>
        <li class='company-list'>
          <div class='company-text'>
            <h2 class='list-title'>介護職</h2>
          </div>
          <div class='company-info'>
            <a>利用者様の生活を直接サポートします。介護職経験はもちろん
            未経験でも大歓迎です。</a>
          </div>
        </li>
        <li class='company-list'>
          <div class='company-text'>
            <h2 class='list-title'>訪問看護職</h2>
          </div>
          <div class='company-info'>
            <a>利用者様の生活を訪問看護師としてサポートします。
            最適なケアを提供して、ご本人やご家族を支えます</a>
          </div>
        </li>
        <li class='company-list'>
          <div class='company-text'>
            <h2 class='list-title'>事務職</h2>
          </div>
          <div class='company-info'>
            <a>利用者様の生活を間接的にサポートします。縁の下の力持ちとして
            スタッフのサポートもしていただきます。</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class='mid-content'>
    <div class='title'>
      <h3>採用の流れ</h3>
    </div>
    <div class='recruit-flow'>
      <ul class='company-lists'>
        <li class='company-list'>
          <div class='company-text'>
            <h2 class='list-title'>step1 エントリー</h2>
          </div>
          <div class='company-info'>
            <a>下記エントリーフォームよりご応募ください</a>
          </div>
        </li>
        <li class='company-list'>
          <div class='company-text'>
            <h2 class='list-title'>step2 書類選考</h2>
          </div>
          <div class='company-info'>
            <a>履歴書・職務経歴書をお送りしていただきます</a>
          </div>
        </li>
        <li class='company-list'>
          <div class='company-text'>
            <h2 class='list-title'>step3 面談</h2>
          </div>
          <div class='company-info'>
            <a>弊社、もしくはオンラインにて面談していただきます</a>
          </div>
        </li>
        <li class='company-list'>
          <div class='company-text'>
            <h2 class='list-title'>step４ 採用</h2>
          </div>
          <div class='company-info'>
            <a>TSUYUKI Groupのメンバーに</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <%# 求人フォーム %>
  <div class='entry-form-content'>
    <div class='title'>
      <h3>エントリーフォーム</h3>
    </div>
    <div class='form'>
      <h1>＊項目は全て入力必須項目です</h1>
      <%= form_with model: @information, url: informations_path, class: 'entry-form' do |f| %>
      <% if @information.errors.any? %>
      <% end %>
        <div class="form-group">
          <div class='form-text'><%= f.label :name, 'お名前' %></div>
          <div class='form-box'><%= f.text_field :name, class: 'form-control', placeholder:"例) 鈴木　太郎" %></div>
        </div>
        <div class='error-alert'>
          <% if @information.errors.include?(:name) %>
            <p style="color: red;"><%= @information.errors.full_messages_for(:name).first %>
          <% end %>
        </div>

        <div class="form-group">
          <div class='form-text'><%= f.label :name_spell, 'フリガナ' %></div>
          <div class='form-box'><%= f.text_field :name_spell, class: 'form-control', placeholder:"例) スズキ　タロウ" %></div>
        </div>
        <div class='error-alert'>
          <% if @information.errors.include?(:name_spell) %>
            <p style="color: red;"><%= @information.errors.full_messages_for(:name_spell).first %>
          <% end %>
        </div>

        <div class="form-group">
          <div class='form-text'>
            <%= f.label :birthdate, '生年月日' %>
          </div>
          <div class='form-box'>
            <%= raw sprintf(f.date_select(:birthdate, class:'date-select', use_month_numbers: true, prompt:'--', start_year: (Time.now.year), end_year: (Time.now.year)-75, date_separator: '%s'),"<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>
        </div>
        <div class='error-alert'>
          <% if @information.errors.include?(:birthdate) %>
            <p style="color: red;"><%= @information.errors.full_messages_for(:birthdate).first %>
          <% end %>
        </div>

        <div class="form-group">
          <div class='form-text'><%= f.label :email, 'メールアドレス' %></div>
          <div class='form-box'><%= f.text_field :email, class: 'form-control', placeholder:"例) example@exa.com" %></div>
        </div>
        <div class='error-alert'>
          <% if @information.errors.include?(:email) %>
            <p style="color: red;"><%= @information.errors.full_messages_for(:email).first %>
          <% end %>
        </div>

        <div class="form-group">
          <div class='form-text'><%= f.label :motivation, '志望動機など' %></div>
          <div class='form-box'><%= f.text_area :motivation,  class: 'form-control' %></div>
        </div>
        <div class='error-alert'>
          <% if @information.errors.include?(:motivation) %>
            <p style="color: red;"><%= @information.errors.full_messages_for(:motivation).first %>
          <% end %>
        </div>

        <div class="form-bottom-content">
          <h1 class='privacy-policy'>お客様からいただく情報は、TSUYUKI Groupのプライバシーポリシーにのっとり、適切に取り扱います。</h1>
          <%= f.submit '送信', class: 'submit-btn' %>
        </div>
      <% end %>
    </div>
  </div>
  <%# 求人フォーム %>
</div>
<%= render "shared/footer" %>